{
    background-position-x: 0pc;
    background-size: 85.4pc;
    background-repeat: no-repeat;
}

.caption{
    color: blue;
}

div{
    color: blue;
    transform: translate(-6%, -0%);

}

{

}


    